<h1>Listing usens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usens.each do |usen| %>
      <tr>
        <td><%= usen.name %></td>
        <td><%= usen.email %></td>
        <td><%= link_to 'Show', usen %></td>
        <td><%= link_to 'Edit', edit_usen_path(usen) %></td>
        <td><%= link_to 'Destroy', usen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usen', new_usen_path %>
